{% extends 'layout.html' %}

{% block title %} Multi Level Marketing Application with Python/Flask {% endblock %}

{% block content %}

{% include 'header.html' %}
{% include 'navigation.html' %}
{% include 'message.html' %}
<div class="w3-container w3-padding-16" style="width:60%;margin:0 auto;">

    <h2 class="w3-center">List of Distributors</h2>

    <div class="w3-row-padding w3-section w3-stretch">
        <div class="w3-half">
            <input class="w3-input w3-border w3-round w3-margin-bottom">

        </div>
        <div class="w3-half">
            <a href="/add_distributor" class="w3-button w3-block w3-blue w3-round">Add New Distributor</a>
        </div>
    </div>

    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Added By (ID)</th>
        </tr>
        </thead>
        <tbody>
        {% for distributor in distributors %}
        <tr>
            <td>{{ distributor.id }}</td>
            <td>{{ distributor.distributor_name }}</td>
            <td>{{ distributor.added_by_id }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}